.cocktail-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 50px 0;
}

.image-title-wrapper {
    display: flex;
    gap: 80px;
    align-items: start;
}

.cocktail-image {
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin-left: 50px;
}

.cocktail-stats {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    margin: 100px 50px 0 0;
}

.drink-title {
    color: var(--primary-colour);
}

.rating {
    font-size: 1.5rem;
    color: #ffaa00;
}

.favourites-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ingredients-instructions-wrapper {
    display: flex;
    justify-content: center;
}

.ingredients-instructions-content {
    display: flex;
    gap: 30px;
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.ingredients-instructions-content h2 {
    color: var(--primary-colour);
}

.ingredients {
    flex: 1;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.instructions {
    flex: 1;
    max-width: 50%;
    font-size: 16px;
}

.ingredients ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
    gap: 0;
}

.ingredients li {
    padding: 8px 0;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
    text-align: left;
}

.instructions p {
    padding: 8px 0;
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
}