.inner-container.register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}

.inner-container.register h2 {
    text-transform: initial;
    color: var(--primary-colour);
}

.register-form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: left;
    padding: 30px;
}

.register-image {
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    margin-left: 50px;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    font-weight: 500;
}

.register-form-container input {
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    width: 100%;
    padding: 5px 10px;
}

.register-form-container button {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 10px;
}
