.homepage-title {
    margin: 50px;
}

.classic-cocktail-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.homepage-button-wrapper {
    display: flex;
    justify-content: center;
    margin: 50px;
}