.searchbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.searchbar-wrapper {
    position: relative;
    width: 600px;
    max-width: 100%;
}

.searchbar {
    width: 100%;
    padding: 15px 15px 15px 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: var(--main-text);
    z-index: 1;
}

.searchbar::placeholder {
    color: var(--field-text);
}

.searchbar-default {
    border: 2px solid #E5E5E5;
    border-radius: 25px;
    z-index: 1;
}

.searchbar-default:focus {
    outline: none;
    border: 2px solid transparent;
    background-image: linear-gradient(white, white),
    var(--gradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.searchbar-homepage {
    background-color: #F0F0F0;
    border: 10px solid var(--white-text);
    border-radius: 25px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
    pointer-events: none;
}

.searchbar-reset-button {
    border: none;
    background-color: transparent;
    background-image: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.searchbar-reset-button:active {
    transform: translateY(-50%);
}

.searchbar-reset-button .fa-circle-xmark {
    color: var(--primary-colour);
}