.header-container {
    background: var(--gradient);
    height: 280px;
    display: flex;
    justify-content: center;
}

.header-container h1 {
    color: var(--white-text);
    text-transform: initial;
    padding: 20px 0 25px 0;
}

.header-container a, a:visited {
    position: relative;
}

.header-container a::after, a:visited::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    height: 3px;
    width: 0;
    background-color: white;
    transition: width 0.3s ease-out;
}

.header-container a:hover::after, a:visited:hover::after {
    width: 100%;
}

.suggestions-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white-text);
    width: 50%;
    border-radius: 5px;
    gap: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    cursor: pointer;
    margin-top: 5px;
}

.suggestion-item {
    display: flex;
    padding: 8px ;
    border-bottom: 1px solid #F0F0F0;
}

.suggestion-item:hover {
    background-color: #F0F0F0;
    border-radius: 5px;
}

.suggestion-item:last-child {
    border-bottom: none;
}
