/* ------------------------------- Filters -------------------------------- */

.filters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    gap: 4px;
    margin: 40px 50px 0 10px;
}

.filters-wrapper h4 {
    text-transform: uppercase;
    text-align: left;
    margin: 10px 0 5px 0;
}

.filter-option {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.filter-option input {
    width: 16px;
    height: 16px;
    accent-color: var(--primary-colour);
    cursor: pointer;
}

/* ------------------------------- Media Queries -------------------------------- */

@media screen and (max-width: 992px) {
    .filters-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0;
        gap: 2rem;
    }

    .filter-content.closed {
        display: none;
    }

    .filter-content.open {
        display: block;
    }

    .filter-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .filter-header h4 {
        margin: 0.5rem 0;
        font-size: 1.1rem;
    }

    .chevron-icon {
        font-size: 1rem;
        transition: transform 0.3s ease;
    }

    .chevron-icon.rotate {
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 768px) {
    .filters-wrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        padding: 0;
        margin: 0 0 2rem 0;
    }

    .filter-option {
        gap: 0.4rem;
    }

    .filter-option input {
        width: 1rem;
        height: 1rem;
    }
}